--extra-index-url https://huggingface.github.io/autogptq-index/whl/cu118/

# START section of dependencies that don't install on Darwin/MacOS
bitsandbytes
triton>=3.0.0
mamba-ssm
flash-attn
xformers
autoawq
liger-kernel
# END section

packagin

peft
transformers
tokenizers>=0.21.1
accelerate
datasets
deepspeed
trl

optimum
hf_transfer
sentencepiece
gradio

modal
pydantic
addict
fire
PyYAML>=6.0
requests
wandb
einops
colorama
numba
numpy>=1.24.4,<=2.0.1
# qlora things
evaluate
scipy
scikit-learn
nvidia-ml-py
art
tensorboard
python-dotenv

# remote filesystems
s3fs>=2024.5.0
gcsfs>=2024.5.0
# adlfs

zstandard
fastcore

# lm eval harness
lm_eval
langdetect
immutabledict
antlr4-python3-runtime

torchao
schedulefree

axolotl-contribs-lgpl==0.0.6
axolotl-contribs-mit==0.0.3
